<% provide(:title, "About me") %>
<%= stylesheet_link_tag 'customabout'%>
<div class = "custom">

  <h1>About me</h1>
  <p>
    I am a University of Illinois - Urbana Champaign graduate, who majored in electrical engineering and wants to pursue a career in computer science.
    I enjoy projects that have a mix of practicality, theory and innovation.
    Click the menu button to check my profile and reach out to me!
  </p>
</div>


